{% extends "base.html.twig" %}
{% block title %}
Renseigner la fiche de frais
{% endblock %}
{% block body %}
{#
<center>
<div class="well">
{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
{{ form_errors(form) }}
{{ form_start(form2, {'attr': {'class': 'form-horizontal'}}) }}
{{ form_errors(form2) }}
<h3><center>Formulaire Ajouter Fiche Frais</center></h3>
<div class="well">
{{  form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
Les erreurs générales du formulaire.
{{  form_errors(form) }}
<div class="form-group">
{{ form_label(form.idComptable,"",{'label_attr': {'class': 'col-sm-3 control-label'}}) }}
{{form_errors(form.idComptable) }}
{{form_widget(form.idComptable) }}
<div class="form-group">
{{ form_label(form.mois, "", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
{{form_errors(form.mois) }}
{{form_widget(form.mois) }}
<div class="form-group">
{{form_label(form.nbJustificatifs, "", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
{{form_errors(form.nbJustificatifs) }}
{{form_widget(form.nbJustificatifs) }}
<div class="form-group">
{{form_label(form.montantValide, "", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
{{form_errors(form.montantValide) }}
{{form_widget(form.montantValide) }}
<div class="form-group">
{{form_label(form.dateModif, "", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
{{form_errors(form.dateModif) }}
{{form_widget(form.dateModif) }}
#}

<h3>Saisie</h3>
PERIODE D'ENGAGEMENT :
{{ jour }}
<!--
<div class="form-group">
{ form_label(form.mois, "", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
{ form_errors(form.mois) }}
{ form_widget(form.mois) }}
</div>
-->
<action form='POST'>
<h3>Frais au forfait</h3>
<!--
<div class="form-group">
{ form_label(form2.montant, "", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
{ form_errors(form2.montant) }}
{ form_widget(form2.montant) }}
</div>
<div class="form-group">
{ form_label(form2.montant, "", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
{ form_errors(form2.montant) }}
{ form_widget(form2.montant) }}
</div>
<div class="form-group">
{ form_label(form2.montant, "", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
{ form_errors(form2.montant) }}
{ form_widget(form2.montant) }}
</div>
<div class="form-group">
{ form_label(form2.montant, "", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
{ form_errors(form2.montant) }}
{ form_widget(form2.montant) }}
</div>
-->
Repas midi : <input type='number' name='midi' min="0"><br>
Nuitées :<input type='number' name='nuit'  min="0"><br>
Etape :<input type='number' name='etape'  min="0"><br>
KM :<input type='number' name='km'  min="0"><br>
</action>
<h3>Hors Forfait</h3>
<div class="form-group">

{{ form_label(form2.date, "", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
{{ form_errors(form2.date) }}
{{ form_widget(form2.date) }}
</div>
<div class="form-group">
 
{{ form_label(form2.libelle, "", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
{{ form_errors(form2.libelle) }}
{{ form_widget(form2.libelle) }}
</div>

<div class="form-group">
{{ form_label(form2.montant, "", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
{{ form_errors(form2.montant) }}
{{ form_widget(form2.montant) }}
</div>
<h3>Hors Classification</h3>
<div class="form-group">
{{ form_label(form.nbJustificatifs, "", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
{{ form_errors(form.nbJustificatifs) }}
{{ form_widget(form.nbJustificatifs) }}
</div>
<div class="form-group">
{{ form_label(form.montantValide, "", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
{{ form_errors(form.montantValide) }}
{{ form_widget(form.montantValide) }}
</div>

<div class="form-group">
    <div class="row">
        <div class="container">
        <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
                {{ form_widget(form.valider, {'attr': {'class': 'btn btn-success'}}) }}
                {{ form_widget(form.annuler, {'attr': {'class': 'btn btn-success'}}) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}