{% extends "base.html.twig" %}
{% block body %}
<div id="Validation">
<h1>Validation des frais par visiteur</h1>
<p>
    <div class="form-group">
        {{  form_label(form.idVisiteur, "", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        {{  form_errors(form.idVisiteur) }}
        {{  form_widget(form.idVisiteur) }}
    </div>
</p>
<p>
   <!-- <div class="form-group">
        {  form_label(form.mois, "", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        {  form_errors(form.mois) }}
        {  form_widget(form.mois) }}
    </div>
    <nav>
        <select name="mois">
            <option value ="1">Janvier</option>
            <option value ="2">Février</option>
            <option value ="3">Mars</option>
            <option value ="4">Avril</option>
            <option value ="5">Mai</option>
            <option value ="6">Juin</option>
            <option value ="7">Juillet</option>
            <option value ="8">Août</option>
            <option value ="9">Septembre</option>
            <option value ="10">Octobre</option>
            <option value ="11">Novembre</option>
            <option value ="12">Décembre</option>
        </ul>
    </nav>-->
   Mois : {{ jour }}
</p>
<h3>
    Frais au forfait
</h3>
<table>
    <tr>
        <td>Repas midi</td>
        <td>Nuitée</td>
        <td>Etape</td>
        <td>Km</td>
        <td>Situation</td>
    </tr>
    <tr>
        <td>
            <!--
            <div class="form-group">
            { form_label(form.idComptable,"",{'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            { form_errors(form.idComptable) }}
            { form_widget(form.idComptable) }}
            </div>
            -->
        </td>
        <td>
            <!--
            <div class="form-group">
            { form_label(form.idComptable,"",{'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            { form_errors(form.idComptable) }}
            { form_widget(form.idComptable) }}
            </div>
            -->
        </td>
        <td>
            <!--
            <div class="form-group">
            { form_label(form.idComptable,"",{'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            { form_errors(form.idComptable) }}
            { form_widget(form.idComptable) }}
            </div>
            -->
        </td>
        <td>
            <!--
            <div class="form-group">
            { form_label(form.idComptable,"",{'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            { form_errors(form.idComptable) }}
            { form_widget(form.idComptable) }}
            </div>
            -->
        </td>
        <td>
            <div class="form-group">
            {{ form_errors(form.situation) }}
            {{ form_widget(form.situation) }}
            </div>
        </td>
    </tr>
</table>
<h3>
    Hors Forfait
</h3>
<table>
    <tr>
        <td>Date</td>
        <td>Libellé</td>
        <td>Montant</td>
        <td>Situation</td>
    </tr>
    <tr>
        <td>
            <!--
            <div class="form-group">
            { form_label(form.idComptable,"",{'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            { form_errors(form.idComptable) }}
            { form_widget(form.idComptable) }}
            </div>
            -->
        </td>
        <td>
            <!--
            <div class="form-group">
            { form_label(form.idComptable,"",{'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            { form_errors(form.idComptable) }}
            { form_widget(form.idComptable) }}
            </div>
            -->
        </td>
        <td>
            <!--
            <div class="form-group">
            { form_label(form.idComptable,"",{'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            { form_errors(form.idComptable) }}
            { form_widget(form.idComptable) }}
            </div>
            -->
        </td>
        <td>
            <div class="form-group">
            {{ form_errors(form.situation) }}
            {{ form_widget(form.situation) }}
            </div>
        </td>
    </tr>
</table>
<h3>
    Hors Classification
</h3>
<table>
    <tr>
        <td>Nb justificatifs</td>
        <td>Montant</td>
        <td>Situation</td>
    </tr>
    <tr>
        <td>
            <!--
            <div class="form-group">
            { form_label(form.idComptable,"",{'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            { form_errors(form.idComptable) }}
            { form_widget(form.idComptable) }}
            </div>
            -->
        </td>
        <td>
            <!--
            <div class="form-group">
            { form_label(form.idComptable,"",{'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            { form_errors(form.idComptable) }}
            { form_widget(form.idComptable) }}
            </div>
            -->
        </td>
        <td>
            <div class="form-group">
            {{ form_errors(form.situation) }}
            {{ form_widget(form.situation) }}
            </div>
        </td>
    </tr>
</table>
<div class="row">
    <div class="container">
        <div class="col-md-4">
            {{ form_widget(form.valider, {'attr': {'class': 'btn btn-success'}}) }}
            {{ form_widget(form.annuler, {'attr': {'class': 'btn btn-success'}}) }}
        </div>
    </div>
</div>
</div>
        <div>
            <h3>Liste des fiches de frais</h3><br/>
            <table>
                <tr>
                    <th>id</th>
                    <th>idcomptable</th>
                    <th>mois</th>
                    <th>nombre de justificatifs</th>
                    <th>montant valide</th>
                    <th>date de modification</th>
                    <th>Visiteur</th>
                    <th>Situation</th>
                </tr>
                {% for uneFiche in Fiche %}
                <tr>
                    <td>{{ uneFiche.id }}</td>
                    <td>{{ uneFiche.idComptable.nom }}</td>
                    <td>{{ uneFiche.mois }}</td>
                    <td>{{ uneFiche.nbJustificatifs }}</td>
                    <td>{{ uneFiche.montantValide }}</td>
                    <td>{{ uneFiche.dateModif.format('Y-m-d H:i:s') }}</td>
                    <td>{{ uneFiche.idVisiteur.nom }}</td>
                    <td>{{ uneFiche.situation.libelle }}</td>
                </tr>
                {% endfor %}
            </table><br/>
           
        </div>
{% endblock %}