{% extends "base.html.twig" %}
{% block title %}
Formulaire de connexion
{% endblock %}
{% block body %}
<center>
<div class="well">
{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
{# Les erreurs générales du formulaire. #}
{{ form_errors(form) }}
<h3><center>COMPTABLE<br>Formulaire de connexion</center></h3>
<div class="well">
{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
{# Les erreurs générales du formulaire. #}
{{ form_errors(form) }}
<div class="form-group">
{# Génération du label. #}
{{ form_label(form.login,"",{'label_attr': {'class': 'col-sm-3 control-label'}}) }}
{# Affichage des erreurs pour ce champ précis. #}
{{ form_errors(form.login) }}
{{ form_widget(form.login) }}
<div class="form-group">
{# Génération du label. #}
{{ form_label(form.mdp, "", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
{# Affichage des erreurs pour ce champ précis. #}
{{ form_errors(form.mdp) }}
{{ form_widget(form.mdp) }}
</div>

{# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
<div class="row">
<div class="container">
<label class="col-md-4 control-label"></label>
<div class="col-md-4">
{{ form_widget(form.valider, {'attr': {'class': 'btn btn-success'}}) }}
{{ form_widget(form.annuler, {'attr': {'class': 'btn btn-success'}}) }}
</div>
</div>
</div>
</div>
{% if app.session.flashBag.has('success') %}
<div class="alert alert-success">
{% for msg in app.session.flashBag.get('success') %}
{{ msg }}
{% endfor %}
</div>
{% endif %}

{{ form_rest(form) }}
{# Fermeture de la balise <form> du formulaire HTML #}
{{ form_end(form) }}
</div>{# empty Twig template #}
</center>
{% endblock %}
{#{% extends '../Bas.html'%}}#}
